<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Detalle del producto: <%- detail[0].name%></h2>
			</div>
		</div>
		<div class="product-detail">
			<div class="row">
				<div class="col-12 col-lg-8">
					<img class="product-detail-img" alt="product image" src=/<%- detail[0].image%>>
					<p class="product-detail-description">
						<%- detail[0].description %>
					</p>
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%- detail[0].name %></h2>
						<% if(detail[0].discount > 0) {%>
							<p class="product-detail-price small">
								<span>$<%- originalPrice%></span>
								/
								<b><%- detail[0].discount%>% OFF</b>
							</p>
							<p class="product-detail-price">
								$<%- detail[0].price %>
							</p>
						<% } else {%>
							<p class="product-detail-price">
								$<%- detail[0].price %>
							</p>
						<% } %>
						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagá en 12 cuotas sin interes</p>
							</li>
							<li>
								<i class="fas fa-store"></i>
								<p>Retiro gratis en locales del vendedor</p>
							</li>
						</ul>

						<a href="#" class="buy-now-button">COMPRAR AHORA</a>
						<hr>

						<a href=/products/edit/<%- detail[0].id %> class="action-button edit">EDITAR PRODUCTO</a>
						<form action=/products/delete/<%- detail[0].id %>?_method=DELETE method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">ELIMINAR</button>
						</form>
					</article>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>	
</html>